

.navLeft{
    margin-bottom: 15px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
}

.menu-heading {
    display: block;
    padding: 8px 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #586069;
    background-color: #f3f5f8;
    border-bottom: 1px solid #e1e4e8;
}

.menu-item {
    position: relative;
    display: block;
    padding: 8px 10px;
    border-bottom: 1px solid #e1e4e8;
    font-size: 14px !important;
}

.menu-item.selected {
    font-weight: 600;
    color: #24292e;
    cursor: default;
    background-color: #fff;
}

.menu-item.selected::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    content: "";
    background-color: #e36209;
}

.subhead {
    display: flex;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px #e1e4e8 solid;
    flex-flow: row wrap;
}
.subhead-heading {
    font-size: 24px;
    font-weight: normal;
    flex: 1 1 auto;
}

.form-group dt {
    margin: 0 0 6px;
}

.edit-profile-avatar {
    width: 200px;
}

.text-red {
    color: #cb2431!important;
}

.avatar-upload .upload-state {
    display: none;
    padding: 10px 0;
}


.avatar {
    width: 572px !important;
    height: 320px !important;
    background-position: center;
    background-size: cover;
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}

.rounded-2 {
    border-radius: 6px!important;
}

.bouton-settings{
        margin-top: 10px;
        position: relative;
        display: inline-block;
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-repeat: repeat-x;
        background-position: -1px -1px;
        background-size: 110% 110%;
        border: 1px solid rgba(27,31,35,0.2);
        border-radius: 0.25em;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 200px !important;
        background-color: #eff3f6;
        background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
}

.bouton-settings:hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    background-position: -0.5em;
    background-position-x: -0.5em;
    background-position-y: center;
    border-color: rgba(27,31,35,0.35);
}

.two-thirds {
    width: 66.666667%;
}

.column {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
dd {
    margin-left: 0;
}

.form-group dt {
    margin: 0 0 6px;
}

.note {
    min-height: 17px;
    margin: 4px 0 2px;
    font-size: 12px;
    color: #586069;
}

.form-group .form-control {
    width: 440px;
    max-width: 100%;
    margin-right: 5px;
    background-color: #fafbfc;
}

img {
    object-fit: cover;
}