<!DOCTYPE html>
<html lang="fr">
<head>
  <% include ../../partials/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/formations/programmes.css">
  <link rel="canonical" href="https://christineandcie.fr/formations/">
</head>

<body>

  <% include ../../partials/nav.ejs %>
  
  <div class="container-fluid" style="padding-top: 5%">
                <div class="row"  style="background-color: white;">
                    <div class="col-lg colonne-bande-2-gauche">
                <section id="zone-about" class="text-center pt-5">
                
                    <div class="filtre-zone-about"></div>
                <div class="container zone-about-contenu">
                  
                  <div class="row">
                      <div class="col-lg">
                          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex pb-5 icones-couleur">
                                <!-- <i data-feather="layers" class=" m-auto" id="layers" style="width: 23%; height: 23%;"></i> -->
                              <!-- <i class="icon-layers m-auto couleur-vert"></i> -->
                            </div>
                            <!-- <h3 class="zone-titre">A propos de nous</h3> -->
                            <div class="lead zone-about-texte-2 mb-0  " style="color:white; font-weight: 300"><span style="font-family: Oldstandard-Bold; font-size:2rem;">Kit de Survie </span><hr style="background-color: white; max-width: 10%;">
                              Vous souhaitez <strong style="font-weight: 700">libérer votre esprit</strong> et <strong style="font-weight: 700">affirmer votre personnalité</strong> au travail ?<br> 
Nous vous proposons ce <strong style="font-weight: 700">programme d’action</strong> qui vous permettra de comprendre l’origine de votre mal être afin de <strong style="font-weight: 700">réagir efficacement</strong> et <strong style="font-weight: 700">atteindre vos objectifs</strong>.<br><br> Le Kit de Survie vous délivre les techniques pour <strong style="font-weight: 700">faire face au stress</strong> et <strong style="font-weight: 700">gagner en assurance</strong>. 

                              </div>
                
                            <div class="features-icons-icon d-flex pt-5 icones-couleur">
                              <a class="btn btn-ebook mx-auto" href="https://christinecie.learnybox.com/kit-de-survie-1/" id="bouton-about" role="button">En savoir plus</a>
                          </div>
                            
                          </div>
                        </div>
                      
                    </div>
                  </div>
                
                </section>
                </div>
                <div class="col-lg p-0">
                <section id="zone-about-2" class="text-center pt-5">
                
                  <div class="filtre-zone-about-2"></div>
                <div class="container zone-about-contenu-2">
                
                <div class="row">
                    <div class="col-lg">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                          <div class="features-icons-icon d-flex pb-5 icones-couleur">
                              <!-- <i data-feather="layers" class=" m-auto" id="layers" style="width: 23%; height: 23%;"></i> -->
                            <!-- <i class="icon-layers m-auto couleur-vert"></i> -->
                          </div>
                          <!-- <h3 class="zone-titre">A propos de nous</h3> -->
                          <div class="lead zone-about-texte-2 pb-4" style="color:white; font-weight: 300"><span style="font-family: Oldstandard-Bold; font-size:2rem;">Bunker </span><hr style="background-color: white; max-width: 10%;">
                                Vous souhaitez <strong style="font-weight: 700">reprendre le contrôle</strong> de votre vie et <strong style="font-weight: 700">atteindre votre plein potentiel</strong> ?<br> Découvrez ce <strong style="font-weight: 700">programme d’action</strong> complet qui vous livrera les <strong style="font-weight: 700">secrets des 9 piliers de l’épanouissement</strong> !<br><br> Des <strong style="font-weight: 700">stratégies</strong> et <strong style="font-weight: 700">méthodes</strong> pour <strong style="font-weight: 700">assurer</strong> au travail et à la maison, <strong style="font-weight: 700">retrouver votre motivation</strong>, devenir un  <strong style="font-weight: 700">professionnel épanoui</strong> et aller vers votre <strong style="font-weight: 700">réussite</strong>. 
                            
                          </div>
                
                          <div class="features-icons-icon d-flex pt-5 icones-couleur">
                            <a class="btn btn-ebook mx-auto" href="https://christinecie.learnybox.com/programme-bunker/" id="bouton-about-2" role="button">En savoir plus</a>
                        </div>
                          
                        </div>
                      </div>
                    
                  </div>
                </div>
                
                </section>
                </div>
                </div>
                   
                </div>
                <section id="zone-avenir" class="text-center pt-5">
                    <div class="filtre-zone-avenir"></div>
                    <div class="container zone-avenir-contenu">
                      
                      <div class="row">
                          <div class="col-lg-10 order-lg-1 mx-auto showcase-text">
                              <h2 class="zone-titre">Programmes à venir</h2>
                              <p class="lead" style="font-weight: 500;">Le Kit de Survie et Bunker ne sont pas nos seuls programmes, d’autres sont à venir !</p>
                              <div class="col-lg-6 mx-auto pb-5">
                              <p class="lead text-left pb-3"><strong style="font-weight: 800">Pack Apparence :</strong> image de soi (look, coiffure), coaching sportif, conseils nutritionnels, conseils bien être physique </p>
                              <p class="lead text-left pb-3"><strong style="font-weight: 800">Pack Entreprise :</strong> organisation, gestion, management, ergonomie, reconversion</p>
                                <p class="lead text-left"><strong style="font-weight: 800">Pack Parentalité :</strong> pédagogie positive, psychologie positive, communication, les 3 piliers de la parentalité (exercice, expérience et pratique au quotidien)</p>
                              </div> 
                              <p class="lead mb-5">Pour obtenir plus d'informations sur nos mises-a-jour de contenu et nouvelles formations n'hésitez pas à souscrire ci-dessous ! </p>
                              <form method="POST" action="/contactSave" id="landing-form">
                                <div class="form-group form-row text-left">
                                        <div class="col-lg-6 col-sm-10 mx-auto">
                                        <label for="nom">Nom</label>
                                        <input type="text" class="form-control form-control-lg" name="nom" id="nom" placeholder="Nom" required>
                                        </div>
                                      </div>
                                <div class="form-group form-row text-left">
                                        <div class="col-lg-6 col-sm-10 mx-auto">
                                  <label for="email">Adresse e-mail</label>
                                  <input type="email" class="form-control form-control-lg" name="email" id="email" aria-describedby="emailHelp" placeholder="Adresse e-mail" required>
                                  <small id="emailHelp" class="form-text text-muted">Vos informations resteront privées et confidentielles</small>
                                        </div>
                                </div>
                                <div class="row">
                                <div class="col-lg-6 col-sm-10 mx-auto">
                                <button type="submit" class="btn btn-primary btn-lg btn-block bouton-newsletter">S'inscrire</button>
                            </div>
                        </div>
                              </form>
                            </div>
                        </div>
                      </div>
                    </section>

  <% include ../../partials/footer.ejs %>
  <script>
  $("#navFormations").addClass("active")
 </script>
  <script src="/js/landing.js"></script>
 </body>
 </html>