<!-- Footer -->
<footer class="footer bg-light">
<div class="container">
  <div class="row">
    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
      <ul class="list-inline mb-2">
        <!-- <li class="list-inline-item">
          <a id="navContact"href="/infos">F.A.Q</a>
        </li>
        <li class="list-inline-item">&sdot;</li> -->
        <li class="list-inline-item">
          <a href="mailto:contact@mail.christineandcie.fr">Contact</a>
        </li>
        <li class="list-inline-item">&sdot;</li>
        <li class="list-inline-item">
          <a href="/mentions">Mentions légales</a>
        </li>
      </ul>
      <p class="text-muted small mb-4 mb-lg-0">&copy; Christine & Compagnie 2018. Tous Droits Réservés.</p>
    </div>
    <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
      <ul class="list-inline mb-0">
        <li class="list-inline-item mr-3">
          <a href="https://www.facebook.com/christelarnaudfr/">
          <i class="fab fa-facebook fa-2x fa-fw"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/christelarnaudfr/">
          <i class="fab fa-instagram fa-2x fa-fw"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>

<script src="/vendor/cookieconsent/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#252e39"
    },
    "button": {
      "background": "#14a7d0"
    }
  },
  "content":{
    "link": "En savoir plus",
    "message" : "Notre site utilise des cookies, ceux-ci servent au bon fonctionnement du site mais aussi à des fins analytiques. Ces données ne sont en aucun cas transférées à des tiers à des fins publicitaires",
    "dismiss": "J'accepte"
  }
})});
</script>
<script src="/vendor/jquery-3.3.1.min.js"></script>
<script src="/vendor/jquery-ui/external/jquery/jquery.js"></script>
<script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src='https://vjs.zencdn.net/7.4.1/video.js'></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js" integrity="sha384-lZmvU/TzxoIQIOD9yQDEpvxp6wEU32Fy0ckUgOH4EIlMOCdR823rg4+3gWRwnX1M" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
<script>
feather.replace()
</script>

<!-- <script>
$('.collapse').collapse('toggle')
</script> -->