<!DOCTYPE html>
<html lang="fr">
<% include ../partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="/stylesheets/404.css">
</head>
<body>
        <div class="bg d-flex flex-column align-items-center justify-content-center">
                <h1 class="text-404 mx-auto" style="font-weight: 700; font-size: 4rem;">404</h1>
                <h2 class="text-404 mx-auto align-self-center">Cette page n'existe pas</h2>
                <a class="btn btn-primary btn-404" href="/" role="button">Retourner à l'accueil</a>
        </div>
</body>
</html>