<!DOCTYPE html>
<html lang="fr">
<head>
  <% include ../partials/header.ejs %>
  <style>
  body {
    background: #F0F1F3; 
  }
  </style>
  <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/admin/nav.css"> -->
</head>

<body cz-shortcut-listen="true">



    <iframe src="https://christinecie.learnybox.com/bunkers/" frameborder="0" width="100%" height="100%" style="position: fixed; top: 0; left: 0; height: 100%; width: 100%; z-index:10000;"> <h1>Votre navigateur n'est pas compatible avec cette page, veuillez aller directement sur cette <a href="https://christinecie.learnybox.com/bunkers/">Page</a></h1></iframe>
</body>
</html>